---
import AboutHeroImage from '../assets/thunderhouse-sunset.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Hey! I'm Gavin, a student from Toronto, Ontario, Canada. In the summer I love the outdoors
		and canoeing, especially whitewater! I've been canoeing on rivers for the past 4 years, and I've
		been paddling flatwater since I was a little kid. When I'm not on the water, you can find me
		working on my studies as well as competing in robotics and trivia!
	</p>
	<p>
		I have plenty of experience with flatwater paddling, having canoed a plethora of routes in Algonquin Provincial Park, Haliburton Highlands and other parks across Ontario.
		Additionally, I have canoed whitewater on 3 rivers to date, the Spanish River, the Rivière Noire, and the Missinaibi-Moose River.
		My next trip is a 24 day adventure on the Rivière Broadback in Quebec in July and August this summer.
	</p>
	<p>
		Canoeing is one of my favourite passtimes, as spending time outside and getting excersize is super important in our digital day and age, 
		but also the connection with nature from being out in the wilderness and away from civilization really allows reflection and growth. 
		Canoeing is definitely a type 2 fun activity, which makes looking back on it even more enjoyable, seeing the struggles that you have overcome.
	</p>
	<p>
		The friends I have made on my adventures are some of my longest lasting and closest relationships. This is probably the best part of 
		canoeing and being outdoors in general, making memories with those who you want to surround yourself with for the years to come.
	</p>
</Layout>
