---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Canoe Blog</h1>
			<p>
				Welcome to my canoe trip blog! Here I chronicle the happenings of my various random canoeing 
				adventures had with family and friends.
			</p>
			<p>
				Check out my blog page to see what I've been up to recently! I try to include as much detail 
				as possible in my trip reports so that "inspiration" can easily be taken. I provide coordinates
				and distances for all of my paddling days that I have data from to be as accurate as possible!
			</p>
			<p>
				Keep your eyes peeled for more posts in the coming months, including a possible new series of 
				future trip reports compiled from the resources I have found online!
			</p>
			<p>
				Happy Paddling!
			</p>
		</main>
		<Footer />
	</body>
</html>
